body {
  font-size: 14px;
  font-family: monospace, monospace;
  color: #c6c6c8;
}


/* Entire text flipped around */
.reversed {
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
  -o-transform:rotateY(180deg);
  -ms-transform:rotateY(180deg);
}

a, .reversed {
  color: white;
}

