
.input {
  font-size: 13px;
  font-family: monospace, monospace;
  border: none;
  padding-top: .15em;
  padding-bottom: .15em;
  padding-left: .5em;
  padding-right: .5em;
}


.number::-webkit-inner-spin-button, 
.number::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.number {
  background-color: transparent;
  width: 52px;
  font-size: 16px;
  border: none;
  margin-left: -6px;
  color: #c6c6c8;
  -moz-appearance: textfield;
  appearance: textfield;
}

.checkbox {
  transform:scale(1);
  content:'\2713'; background: #bbb;
  appearance:none;
  border-radius: 0;
  height:13pt;
  width:13pt;
  margin-left: 0;
  padding: 0;
  left:0;
  align-items:center; justify-content:center; color:white; font-weight:bold;
}

.range {
  transform:scale(1.1,0.9);
  -webkit-appearance: none; appearance: none;
  accent-color: #555;
  background: #555;
  border-radius: 0;
  width: 190px;
  padding: 0;
  margin-left: .6em;
  margin-right: .6em;
}

.range::-webkit-slider-runnable-track {
  /* style for Webkit-based browsers */
  -webkit-appearance: none; appearance: none;
  background: #555
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none; appearance: none;
   border-radius: 0;
   background: #fff;
   height: 19px;
   width: 12px;
}

.range::-moz-range-track {
  /* style for Mozilla-based browsers */
  -webkit-appearance: none; appearance: none;
  background: #555
}
.range::-moz-range-thumb {
  -webkit-appearance: none; appearance: none;
   border-radius: 0;
   background: #fff;
   border: 0;
   height: 19px;
   width: 10px;
}


.checkbox:checked:before {
  content:'\2713'; background: #555; width:100%; height:100%; top:0;
  left:0;
  font-size: 13pt;
  display:flex; align-items:center; justify-content:center; color:white; font-weight:bold;
}

.active {
  background-color: #555;
  color: #fff;
}

.inactive {
  background-color: #bbb;
  color: #111;
}

.disabled {
  background-color: #bbb;
  color: #999;
}

.disabled {
  background-color: #bbb;
  color: #999;
}
